body {
	background-image: url(desktopcomp.png);
	background-size: cover;
	background-position: center;
	margin: 60px;
	border: solid 3px #FFFFFF;
	padding: 90px;
	text-align: center;
	font-family: Arial, Helvetica, san-serif;
}
h1 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 28px;
	padding: 16px;
}
h2 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
}
h3 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 17px;
	padding: 4px;
}
p {
	color: #b4b4b4;
	font-family: Georgia, Times, san-serif;
	font-size: 15px;
	line-height: 20px;
}
ol {
	padding: 0;
}
ul{
	padding: 0;
}
li {
	color: #b4b4b4;
	list-style-type: none;
	font-family: Georgia, Times, san-serif;
	font-size: 15px;
	line-height: 20px;
}
a {
	color: #1fd6db;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #d84aea;
}
a:active {
	text-decoration: underline;
	color: #835e87;
}
img {
	border: solid 3px;
	border-radius: 280px;
	color: #FFFFFF;
}